body {
    font: normal Verdana, Helvetica, Arial, sans-serif;
}
header {
    background-color: #9ACD32;
}
header ul {
    display: flex;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
header ul li {
    padding: 10px 50px;
}
header ul li a {
    color: black;
}
main {
    padding: 20px;
    background-color: #F5F5F5;
}
footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #3D550C;
}
footer a {
    display: flex;
    color: black;
}
.gitHub-link {
    display: flex;
    align-items: center;
}