@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}
header {
    padding: 10px 20px;
    background-color: #9ACD32;   
}
header ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}
header ul li {
    border-bottom: 1px solid #000;
    padding-bottom: 1px;
}
header ul li a {
    color: black;
    text-decoration: none;
    white-space: nowrap;
}
main {
    background-color: #F5F5F5;
}
section {
    padding: 0 20px;
}
.top-section {
    padding: 0;
    background-color: #E2E2E2;
}
h1 {
    margin-left: 20px;
}
pre {
    overflow: scroll;
}
.contact {
    font-style: italic;
}
footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #3D550C;
    color: #F5F5F5;
    margin-top: 20px;
}
.gitHub-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #F5F5F5;
}
footer p {
    display: flex;
    align-items: center;
}
section {
    padding-top: 20px;
}
@media (max-width: 767px) {
    body {margin: 0;}
}
@media (min-width: 768px) and (max-width: 1400px) {
    body {margin: 0 10%;}
}